* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  background-color: papayawhip;
  height: 100vh; 
  background-image: radial-gradient(circle at 12% -10%, #2eabe1b5 15%, transparent 44.05%),
  radial-gradient(circle at 89% 90%, #2eabe1b5 15%, transparent 62.05%),
  radial-gradient(circle at 15% 107%, #2eabe1b5 15%, transparent 41.05%)
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
